* {
	scroll-behavior: smooth;
	scrollbar-width: auto;
	scrollbar-color: #C297B8 #000000;
}

body {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	background-color: rgb(25, 25, 25);
}

/*---COMMUN---*/

.flex {
	display: flex;
}

.texte {
	width: 65%;
	margin: auto;
}

.desc {
	width: 500px;
	margin: auto;
}

h3 {
	display: flex;
	justify-content: center;
}

a {
	color: rgb(236, 236, 233);
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.bouton_up {
	height: 70px;
	width: 70px;
	background: #C297B8;
	text-decoration: none;
	color: rgb(25, 25, 25);
	opacity: 50%;
	border-radius: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 40px;
	bottom: 40px;
	cursor: pointer;
	z-index: 1;
}

.hors-ecran {
	position: absolute;
	left: -99999rem;
}

main,
header,
footer {
	background-color: rgb(25, 25, 25);
	padding: 20px;
	margin: auto;
}

/*---SCROLL ARROW---*/

.arrow {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #C297B8;
    border-right: 5px solid #C297B8;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/*---HEADER---*/

header {
	border-bottom: 2px solid #C297B8;
	padding: 0px;
	padding-bottom: 20px;
	font-size: 20px;
	padding-top: 20px;
}

.main-nav {
	justify-content: space-around;
}

.main-nav a {
	color: #ecece9;
	text-decoration: none;
}

.main-nav a:hover,
.sub-nav a:hover {
	color: #C297B8;
}

/*---MAIN---*/

main {
	color: rgb(236, 236, 233);
}

h1 {
	color: #C297B8;
	display: flex;
	justify-content: center;
}

h2 {
	color: #C297B8;
	display: flex;
	justify-content: center;
}

p {
	text-align: center;
}

main a {
	color: #C297B8;
	display: flex;
	justify-content: center;
	text-decoration: underline;
}

.pl {
	width: auto;
	height: 400px;
}

figcaption {
	width: 350px;
}

.motion-cv {
	margin: auto;
	display: flex;
	justify-content: center;
}

span {
	color: #C297B8;
	font-weight: bolder;
}

.card-title {
	color: #C297B8;
}

.card-body {
	background-color: #191919;
	color: #ecece9;
}

/*---FOOTER---*/

footer {
	background-color: #191919;
	color: #ecece9;
	border-top: 2px solid #C297B8;
}

.sub-nav {
	display: flex;
	justify-content: space-around;
}

.sub-nav a {
	color: rgb(236, 236, 233);
	text-decoration: none;
}

.logo {
	height: 60px;
	text-align: center;
	padding: 30px;
}

.footerLogo {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
}